body{
  direction: rtl;
  /* padding: 20px; */

}

div#app {
  text-align: center;
}

div#item:hover{

  background-color: antiquewhite;
}

button:hover{
  background-color: rgb(249, 249, 249) !important;
}
button, button span{
  font-weight: bolder;
}

button{
  cursor: pointer;
}
input#search-input, div#search-div{
  background-color: rgb(249, 249, 249) !important;
  border: none;
  border-radius: 20px;
  width: 20em;
}

input#search-input{
  padding: 0.5em;
}



div#search-div i{
  position: relative;
  margin-right: -23px !important;
  z-index: 999 ;
  cursor: pointer;

   
  /* padding-top: 10px !important; */
}

input#search-input:focus{

    /* border: 2px solid blue !important; /* Change border color on focus */
    /* box-shadow: 0 0 5px rgba(0, 0, 255, 0.5); Optional: Add a glow effect */ 
    outline: none;
  font-weight: bolder;
}